.top-header {
  border-bottom: 1px solid #201e1e;
  margin: 0;
  color: white;
  overflow: hidden;
  height: 37px;
}
.top-header img {
  float: left;
  margin-top: 1px;
  margin-left: 20px;
  height: 35px;
}
.top-header ul {
  display: flex;
  flex-direction: row;
  float: left;
  list-style-type: none;
  margin-top: 15px;
  margin-left: -40px;
}
.top-header ul li {
  margin-left: 40px;
  color: #928d8d;
  border: 1px solid imherit;
  font-family: chiller;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}
.top-header ul li:hover {
  color: #047cfc;
}

.navigation img {
  display: none;
}
.navigation span {
  display: none;
}

#injustice img {
  height: 32px;
  width: 300px;
}
#injustice p {
  font-family: Raleway;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: 11px;
  padding-left: 30px;
  text-transform: uppercase;
}

#best img {
  height: 55px;
  width: 250px;
}

.my-nav ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #201e1e;
}
.my-nav ul li {
  margin-top: -10px;
}
.my-nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0px 30px;
  font-family: chiller;
  letter-spacing: 0.22em;
  border: 1px solid inherit;
  border-radius: 50%;
  padding: 30px 10px;
  font-size: 0.929em;
  font-weight: 300;
  text-transform: uppercase;
  transition: text-shadow ease-in-out 0.4s, color ease-in-out 0.4s, filter ease-in-out 0.4s;
}
.my-nav ul li a:hover {
  color: #047cfc;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #047cfc, 0 0 40px #047cfc, 0 0 50px #047cfc, 0 0 60px #047cfc, 0 0 70px #047cfc;
}

.section-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid inherit;
  margin-left: 100px;
}
.section-one .video {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.section-one .video img {
  height: 126px;
  width: 500px;
  margin-left: 30px;
}
.section-one .video iframe {
  border: 1px groove white;
  margin: 20px auto;
  height: 350px;
  width: 600px;
}
.section-one .legend {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 450px;
}
.section-one .legend img {
  height: 58px;
  width: 350px;
}
.section-one .legend a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background: url("https://www.injustice.com/storage/static/ui-tiled-bg-transparent.png");
  font-family: chiller;
  font-weight: 300;
  margin: 50px 50px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 0 0 50px white, inset 20px 0 80px #2a8ffc, inset -20px 0 80px #2a8ffc, inset 20px 0 300px #2a8ffc, inset -20px 0 300px #2a8ffc, 0 0 50px #2a8ffc, -10px 0 80px #2a8ffc, 10px 0 80px #2a8ffc;
  /* outer right cyan */
}
.section-one .legend a:hover {
  box-shadow: inset 0 0 50px white, inset 20px 0 80px #047cfc, inset -20px 0 80px #047cfc, inset 20px 0 300px #047cfc, inset -20px 0 300px #047cfc, 0 0 50px #047cfc, -10px 0 80px #047cfc, 10px 0 80px #047cfc;
  /* outer right cyan */
}

footer nav {
  margin-top: 100px;
}

.section-two {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.section-two p {
  color: #928d8d;
  margin: -30px 100px;
  font-size: 10px;
  font-weight: 300;
  font-family: "Roboto Condensed";
}
.section-two ul {
  color: #928d8d;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 300;
  font-family: "Roboto Condensed";
}
.section-two ul li {
  margin: 0px 30px;
}

.sponsors {
  margin: -50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sponsors img {
  margin: 100px 60px;
}

/* for ipad */
@media screen and (max-width: 769px) {
  .top-header {
    height: 40px;
  }
  .top-header img {
    margin-top: 1px;
    margin-left: 10px;
    height: 37px;
    width: 37px;
  }
  .top-header ul {
    margin-top: 15px;
    margin-left: -40px;
  }
  .top-header ul li {
    margin-left: 40px;
    font-size: 17px;
  }

  #injustice img {
    height: 32px;
    width: 300px;
  }
  #injustice p {
    font-size: 13px;
    padding-left: 20px;
  }

  #best img {
    height: 33px;
    width: 150px;
  }

  #gameawards img {
    height: 38px;
    width: 100px;
  }

  .my-nav ul li a {
    font-size: 1em;
  }

  .section-one {
    margin-left: 20px;
  }
  .section-one .video img {
    height: 101px;
    width: 400px;
    margin-left: -20px;
  }
  .section-one .video iframe {
    border: 5px groove white;
    margin: 20px auto;
    height: 300px;
    width: 400px;
  }
  .section-one .legend {
    margin-left: 0px;
    margin-top: 400px;
  }
}
/* for iphone 5, 6, 7, 8, X */
@media screen and (max-width: 414px) {
  header {
    overflow: hidden;
  }

  .top-header {
    margin: 0;
    color: white;
    overflow: hidden;
    height: 29px;
  }
  .top-header img {
    margin-top: 1px;
    margin-left: 10px;
    height: 27px;
    width: 27px;
  }
  .top-header ul {
    display: none;
  }
  .top-header ul li {
    margin-left: 40px;
    color: #928d8d;
    border: 1px solid imherit;
    font-family: chiller;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .top-header ul li:hover {
    color: #047cfc;
  }

  .navigation {
    border: 1px solid #201e1e;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 50px;
  }
  .navigation img {
    display: block;
    height: 80px;
    width: 140px;
    margin: 0px 12px;
  }

  header .my-nav {
    margin-top: -14px;
  }
  header .my-nav ul {
    color: white;
    border: 1px solid #201e1e;
    margin-left: -20px;
    height: 50px;
    background-color: black;
  }
  header .my-nav ul li {
    margin-top: -10px;
  }
  header .my-nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 30px;
    font-family: chiller;
    font-size: 0.7em;
  }

  .section-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid inherit;
    margin-left: 0px;
  }
  .section-one .video {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .section-one .video img {
    height: 101px;
    width: 400px;
    margin: auto;
  }
  .section-one .video iframe {
    border: 1px groove white;
    margin: 20px auto;
    height: 200px;
    width: 300px;
  }
  .section-one .legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 300px;
  }
  .section-one .legend img {
    height: 50px;
    width: 300px;
  }
  .section-one .legend a {
    color: black;
    text-decoration: none;
    padding: 10px;
    background: url("https://www.injustice.com/storage/static/ui-tiled-bg-transparent.png");
    font-family: chiller;
    font-weight: 300;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 0 50px white, inset 20px 0 80px #2a8ffc, inset -20px 0 80px #2a8ffc, inset 20px 0 300px #2a8ffc, inset -20px 0 300px #2a8ffc, 0 0 50px #2a8ffc, -10px 0 80px #2a8ffc, 10px 0 80px #2a8ffc;
    /* outer right cyan */
  }
  .section-one .legend a:hover {
    box-shadow: inset 0 0 50px white, inset 20px 0 80px #047cfc, inset -20px 0 80px #047cfc, inset 20px 0 300px #047cfc, inset -20px 0 300px #047cfc, 0 0 50px #047cfc, -10px 0 80px #047cfc, 10px 0 80px #047cfc;
    /* outer right cyan */
  }

  footer nav {
    margin-top: 100px;
  }
  footer nav ul {
    margin-left: -50px;
  }
  footer nav ul li {
    margin-top: -10px;
  }
  footer nav ul li a {
    margin: 0px 10px;
  }

  .section-two {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .section-two p {
    color: #928d8d;
    margin: -30px auto;
    font-size: 11px;
    font-weight: 300;
    font-family: "Roboto Condensed";
  }
  .section-two ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-left: -50px;
  }
  .sponsors {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sponsors img {
    margin: 30px 60px;
  }
}

/*# sourceMappingURL=nesting.css.map */
